@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background: linear-gradient(147deg, #020213 0.93%, #091c38 97.36%);
  font-family: "Roboto", sans-serif;
}

.header {
  background: linear-gradient(147deg, #020213 0.93%, #091c38 97.36%);
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-container {
  max-width: 1312px;
  width: 100%;
  margin: auto;
}

.navigations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.nav-list {
  display: flex;
  column-gap: 25px;
}

.nav-list a {
  color: #7757e9;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-list a:hover {
  color: #b39cff;
}

.nav-list a:active {
  color: #ffffff;
}

.geolab-logo {
  width: 52px;
  height: auto;
}

a {
  text-decoration: none;
}

.nav-list a.active {
  color: #b9b3cc;
  font-weight: 700;
}
